<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="../../static/Page1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Page1
    </title>
  </head>
  <body onunload="">
    <div id="ik0cg" class="container-fluid classRule-ik0cg-test-Page1">
      <div id="i7z9u" class="row flex-nowrap classRule-i7z9u-test-Page1">
        <div id="i2ilr5" class="col py-3 classRule-i2ilr5-test-Page1">
          <ul id="i2z0ln" class="list-unstyled classRule-i2z0ln-test-Page1">
          </ul>
            <div id="i9s6q" class="form-group flex classRule-i9s6q-test-Page1">
              <label id="id4m5" class="col-form-label classRule-id4m5-test-Page1">age</label>
              <input type="number" required placeholder=" Type your age" name="-1" id="i3q7j" annotationname="age" class="form-control classRule-i3q7j-test-Page1"/>
            </div>
            <div id="ipds8" class="form-group flex classRule-ipds8-test-Page1">
              <label id="ijjm2" class="col-form-label classRule-ijjm2-test-Page1">BMI</label>
              <input type="number" required placeholder="Type you BMI" name="-1" id="i9agp" annotationname="BMI" class="form-control classRule-i9agp-test-Page1"/>
            </div>
            <div id="i7cnd" class="form-group flex classRule-i7cnd-test-Page1">
              <label id="i47hx" class="col-form-label classRule-i47hx-test-Page1">waist_circ</label>
              <input type="number" required placeholder="Type your waist circumference" name="-1" id="ijgfa" annotationname="waist" class="form-control classRule-ijgfa-test-Page1"/>
            </div>
            <div id="i4e6h" class="form-group flex classRule-i4e6h-test-Page1">
              <label id="ish89" class="col-form-label classRule-ish89-test-Page1">veg_fruit</label>
              <input type="number" required placeholder="veg_fruit" name="-1" id="i3kjl" annotationname="vegfruit" class="form-control classRule-i3kjl-test-Page1"/>
            </div>
            <div id="ih6fq" class="form-group flex classRule-ih6fq-test-Page1">
              <label id="io8mw" class="col-form-label classRule-io8mw-test-Page1">protein</label>
              <input type="number" required placeholder="Type your protein consumption" name="-1" id="ip2ij" annotationname="protein" class="form-control classRule-ip2ij-test-Page1"/>
            </div>
            <div id="ibh9g" class="form-group flex classRule-ibh9g-test-Page1">
              <button  id="iaft4" insert-code class="btn btn-primary classRule-iaft4-test-Page1 pointer">Submit</button>
            </div>
          <footer id="i7msyk" class="py-5 bg-dark sticky-footer classRule-i7msyk-test-Page1">
            <div id="izuk9j" class="container classRule-izuk9j-test-Page1">
              <p id="iqse4f" class="m-0 text-center text-white classRule-iqse4f-test-Page1">Copyright © Your Website 2021
              </p>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="../../static/Page1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>